# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt' to install these dependencies

numpy>=1.13.3
pandas>=0.20.3
requests>=2.18.2
requests_cache>=0.4.13
responses>=0.8.1
lxml>=3.7.3
click>=6.7
biopython>=1.68
click_log>=0.2.1
