# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt' to install these dependencies
numpy
requests
pandas>=0.17
lxml

# Testing
mock
responses

