# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt' to install these dependencies
scipy
mock
numpy
biopython
requests
pandas
lxml
#pymol (not in pip; available through brew on Mac)